@import url("https://fonts.googleapis.com/css2?family=Bona+Vona&display=swap");


.big-thumb {
  width: 100%;
  height: 557px;
  background-color: #fff9f0;
  display: flex;
}
.big-thumb-content {
  width: 624px;
  height: 341px;
  margin-left: 180px;
  margin-top: 100px;
  display: block;
}
.content-home {
  margin: 40px 100px 40px 100px;
  display: flex;
  flex-direction: column;
}
.lesson-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.description-lesson {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lesson-card {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.detail-lesson-type {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 20px 0;
}
.lesson-card-content {
  margin-bottom: 40px;
  span {
    font-size: large;
  }
}
.post-card {
  padding: 20px 10px 5px 10px;
  display: flex;
  flex-direction: column;
  .post-authors {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .img {
      display: flex;
      align-items: center;
      img {
        border-radius: 10px;
        margin-right: 5px;
    }
    }
  }
}
.post-element {
  display: flex;
  flex-direction: column;
  .post-col-1 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}
.post-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.description-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rank-wrapper{ 
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.rank-element { 
  background-color: white;
  border-radius: 10px;
}