.signin-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  
  
  .signin-form{ 
      display: flex;
      flex-direction: column;
      align-items: space-between;
      width: 25%;
      margin-right: 40px;
      img{ 
          height: 75px;
          width: 50px;
      }
      .form {
          padding-top: 20px;
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 1px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          background-color: white;
          .login-form-button{ 
              width: 100%
          }
          .form_title{ 
              span{ 
                  font-family: 'Be Vietnam Pro';
                  font-size: 28px;
              }
          }
        }
        .signin-title{ 
          display: flex;
          align-items: center;
          span{ 
              text-align: center;
              font-family: "Chonburi";
              font-size: 32px;
              justify-self:center;
          }
        }
  }
  .login-img{ 
      img{
          width: 350px;
          height: 400px;
          border-radius: 10px;
      }
    
  }
  